.postList {
  h2 {
    font-size: 2.5rem;
  }

  .postExcerpt {
    h3 {
      margin: 0;
      font-size: 1.5rem;
    }

    padding: 1rem 1rem;
    margin-bottom: 1.25rem;
    border: 1px solid rgb(177, 174, 174);
    border-radius: 8px;
  }

  .postContent {
    margin-top: 12px;
  }

  .postFooter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .postDetail {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.reactionButton {
  border: 1px solid #e0e3e9;
  padding: 5px 10px;
  margin: 5px 6px 10px;
  border-radius: 4px;
  white-space: nowrap;
}

.mutedButton {
  background: transparent;
  border: 1px solid #cdcdcd;
  color: #4e4e4e;

  &:hover,
  &:focus,
  &:active {
    color: #4e4e4e;
    border: 1px solid #818181;
    background: transparent;
  }
}
