.postList {
  h2 {
    font-size: 2.5rem;
  }

  .postExcerpt {
    h3 {
      margin: 0;
      font-size: 1.5rem;
    }

    padding: 0.75rem 0.75rem;
    margin-bottom: 1.25rem;
    border: 1px solid rgb(177, 174, 174);
    border-radius: 8px;
  }

  .postContent {
    margin-top: 12px;
  }

  .postFooter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .postDetail {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0.5rem;
    }

    .postButtons {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}

.mutedButton {
  background: transparent;
  border: 1px solid #cdcdcd;
  color: #4e4e4e;

  &:hover,
  &:focus,
  &:active {
    color: #4e4e4e;
    border: 1px solid #818181;
    background: transparent;
  }
}
